#listColumn1spec
{
    padding-top: 8px;
    font-size: larger;
    width: 13%;
    margin-bottom: 3px;
}

#listColumn2spec
{
    padding-top: 8px;
    font-size: larger;
    width: 12%;
    margin-bottom: 3px;
}

#listColumn3spec
{
    padding-top: 8px;
    font-size: larger;
    width: 33%;
    margin-bottom: 3px;
    margin-left: 7%;
}
#listColumn4spec
{
    padding-top: 8px;
    width: 10%;
    margin-bottom: 3px;
}
#listColumn4specOfficial
{
    padding-top: 8px;
    width: 10%;
    margin-bottom: 3px;
}

.column
{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5x;
}

#listColumn1
{
    padding-top: 8px;
    font-size: large;
    width: 13%;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-right-width: 2px;
    border-right-color: black;
    border-right-style: solid;
}

#listColumn2
{
    padding-top: 8px;
    font-size: large;
    width: 15%;
    padding-bottom: 8px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

#listColumn3
{
    padding-top: 8px;
    font-size: large;
    width: 30%;
    padding-bottom: 8px;
    margin-left: -1px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;
}

#listColumn3official
{
    padding-top: 8px;
    font-size: large;
    width: 35%;
    padding-bottom: 8px;
    margin-left: -1px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;
}

#listColumn4
{
    padding-top: 8px;
    font-size: large;
    width: 2%;
    padding-bottom: 8px;
    margin-left: -1px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid; 

}
#listColumn5
{
    padding-top: 8px;
    font-size: large;
    width: 1.5%;
    padding-bottom: 8px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;

}
#listColumn6
{
    padding-top: 8px;
    font-size: large;
    width: 2.5%;
    padding-bottom: 8px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}
.plusMinusButton
{
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

.copyButton
{
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

#eintragLabel
{
    width:18%;
    margin-left: 2%;
}

#suchFeld
{
    width:20%;
    margin-top: 8px;
}

#headerText
{
    margin-bottom: 8px;
    margin-top: 2px;
}


#gndNumber
{
    font-size: 20px;
}

#searchField
{
    font-size: 20px;
}
#searchFieldDiv
{
    width: 85%;
}

.uiButton
{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#rueckMeldung
{
    font-size: 22px;
    margin-left: 20px;
    color: blue;
    font-weight: bold;
    margin-left: -0.2%;
    margin-top: 0.5%;
}
.copyImage
{
    margin-top: 2px;
    width: 20px;
    height: 20px;
}
.buttonSpan
{
    width: 1000px;
    height: 300px;
}
#expandButtonItem
{
    padding-top: 1px;
    width: 1.8%;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid; 
}

#pasteButton
{
    width: 2.5%;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    min-width: "3%";
    margin-bottom: 10px;

}
#pasteButtonDiv
{
    padding-bottom: 113px;
    margin-bottom: 10px;
}

#eintragButton
{
    margin-bottom: 10px;

}
#eintragOfficialButton
{
    margin-bottom: 10px;
}

#suchenButton
{
    margin-bottom: 10px;
}

.plusButtonAlone
{
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-width: 2px;
    width: 2.5%;
    border-top-color: black;
    border-top-style: solid;
    margin-right: 15%;
}

.plusButton
{
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-width: 2px;
    width: 2.5%;
    border-top-color: black;
    border-top-style: solid;
    margin-right: 15%;
}

#statusMeldung
{
    font-size: 22px;
    margin-left: -0.2%;
    margin-top: 0%;
    display: block;
}

.minusButton
{
    border-bottom-color: black;
    border-bottom-width: 2px;
    margin-right: 14%;
}

.plusAufButton
{
    font-size: 35px;
}

.pagination li {
    display:inline-block;
    padding:5px;
  }

